.container {
  padding: 5rem 15rem;
}
.flexbox {
  text-align: left;
  display: flex;
  justify-content: center;
}

#contactUs {
  flex: 1;
}
#contactForm {
  flex: 1;
}
a {
  color: #fbcc97;
}
form div {
  margin: 1.5rem 0;
}
label {
  font-family: Montserrat, sans-serif;
  font-size: small;
}
input,
textarea {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
input:focus,
textarea:focus,
.form-control:focus {
  outline: none;
  border-color: #fbcc97;
  box-shadow: 0 0 5px #fbcc97;
}
.redStar {
  color: red;
}

/*  */
/* --- tablet --- */
@media (min-width: 600px) and (max-width: 1000px) {
  .container {
    padding: 1rem 6rem;
  }
  .flexbox {
    flex-direction: column;
  }
}

/*  */
/* --- mobile --- */
@media (min-width: 50px) and (max-width: 600px) {
  .container {
    padding: 0.5rem 3rem;
  }
  .flexbox {
    flex-direction: column;
  }
}
