.engraving {
    background-image:
        linear-gradient(to bottom, rgba(218, 187, 187, 0.1), rgba(0, 0, 0, 0.7)),
        url(../image/newperfume/engraving.jpg);
    background-position: top;
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    /* filter: brightness(50%); */
    position: absolute;

}

.engravingp {
    color: #fff;
    font-size: 1.5rem;
    position: relative;
    font-family: Cormorant Garamond;
    display: inline;
    /* margin-top: 500px; */
    top: 350px;
}