.engraving {
    background-image:
        linear-gradient(to bottom, rgba(218, 187, 187, 0.1), rgba(0, 0, 0, 0.7)),
        url(../image/newperfume/engraving.jpg);
    background-position: top;
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    /* filter: brightness(50%); */
    position: absolute;

}

/* section {
    background-color: #dcdcdc;
} */

.engravingp {
    color: #fff;
    font-size: 1.5rem;
    position: relative;
    font-family: Cormorant Garamond;
    display: inline;
    font-size: 36px;
    /* margin-top: 500px; */
    top: 320px;
}

.engravingscontent {
    font-size: 13px !important;
    color: #cecece;
    font-size: 1.5rem;
    font-family: Montserrat;
    position: relative;
    top: 320px;
    padding: 0;
    margin: 0;

    /* width: 300px; */

}

.customsteps {

    padding-top: 700px;
    padding-bottom: 100px;
}

.customsteps h3 {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: normal;
}

.customstepspicandcontent {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: 50px) and (max-width: 600px) {
        flex-direction: column;
        font-size: 9px;
    }
}

.engravingspicture img {
    padding-top: 100px;
    width: 500px;
    height: auto;

    @media (min-width: 50px) and (max-width: 600px) {
        width: 350px;
        height: auto;
    }
}

.engravingswords p {
    padding: 0;
    margin: 0;
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    text-align: start;
    width: 500px;

    @media (min-width: 50px) and (max-width: 600px) {
        width: 350px;
        height: auto;
        padding-top: 20px;

    }
}

.engravingswords .advise {
    padding: 0;
    margin: 0;
    padding-top: -90px;
    margin-top: -90px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    text-align: start;
    width: 500px;
    font-family: Montserrat;
    font-size: 10px !important;

    color: #545454;

    @media (min-width: 50px) and (max-width: 600px) {
        width: 350px;
        height: auto;
        padding-top: 90px;
    }
}

.fragrances {
    padding-top: 100px;
}

.engravingbanner {
    background-image:
        linear-gradient(to bottom, rgba(218, 187, 187, 0.1), rgba(0, 0, 0, 0.0)),
        url(../image/newperfume/engravingswithnames2.png);
    background-position: top;
    height: 50vh;
    width: 68%;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: fixed; */
    position: relative;
}

.fragrances .submitting {
    position: absolute;
    top: 1900px;
    left: 44.4%;
    padding-bottom: 200px;

    @media (min-width: 50px) and (max-width: 600px) {
        top: 2160px;
        left: 170px;
    }

}

.fragrances .submitting input[type="submit"] {

    margin-bottom: 200px;
    border: 1px solid black;
    /* border-radius: 10px; */
    background-color: black;
    color: white;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-family: Cormorant Garamond;




}

.fragrances .submitting input[type="submit"]:hover {


    background-color: #cecece;
    color: black;
    border: 1px solid #cecece;
    transition: 0.3s;




}


#footer {
    margin-top: 100px;
    padding-top: 00px;
}