.index-content {
  display: flex;
  flex-direction: column;
}

/* Banner */

@media (max-width: 575.98px) {
  #banner {
    position: relative;
    margin-bottom: 15em;
  }
}

@media (min-width: 576px) {
  #banner {
    position: relative;
    margin-bottom: 20em;
  }
}

#banner .overlay-content {
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: rgb(255, 255, 255);
  /* min-width: 500px; */
  /* border: 1px solid #000000; */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.overlay-text p,
.overlay-text button {
  margin: 10px; /* Adjust the margin as needed */
}

#banner .vid-fluid-stretch {
  width: 100%; /* Image takes up the full width of the container */
  height: 35rem; /* Image takes up the full height of the container */
  object-fit: cover;
}

.index-content .img-container {
  width: 100%;
  max-height: 30em;
  /* height: 500px; */
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
  filter: brightness(1);
  transition: filter 0.3s ease-in-out;
}

.index-content .sm-img-container {
  width: 50%;
  height: 100%;
  /* height: 500px; */
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  filter: brightness(1);
  transition: filter 0.3s ease-in-out;
}

.index-content .products-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.index-content .products-container .product {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  /* min-width: 200px; */
}

.products-container .product_image {
  width: 80%;
  height: auto;
  object-fit: cover;
}

/* .products-container .collection_name {
  color: lightgray;
  text-transform: uppercase;
  font-size: 1em;
} */

.products-container .product_name {
  color: black;
  text-transform: uppercase;
  font-size: 1em;
}

.products-container .product_description {
  font-size: 0.8em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Number of lines to show */
  -webkit-box-orient: vertical;
}
.products-container .product_volume {
  font-size: 1em;
  text-transform: uppercase;
}

.three-collection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.three-collection img {
  width: 20%;
  height: auto;
  object-fit: cover;
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.overlay-text p,
.overlay-text button {
  margin: 10px; /* Adjust the margin as needed */
}

.img-fluid-stretch {
  width: 100%; /* Image takes up the full width of the container */
  height: 400px; /* Image takes up the full height of the container */
  object-fit: cover;
}

a {
  color: inherit; /* Set the color to inherit from its parent */
}

.grey {
  color: lightgray;
}

.transparency-overlay:hover {
  filter: brightness(0.5);
}
