.page-container {
  display: flex;
  justify-content: center;
}

.card-container {
  border-radius: 8px; /* Border radius to create rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Box shadow for a subtle lift */
  overflow: hidden;
}

.clickable {
  cursor: pointer;
  color: #fbcc97;
}

.button {
  width: 100%;
  height: 40px;
  background-color: #f8f5f0;
  border: transparent;
}

.page-title {
  float: left;
  text-align: left;
  margin-bottom: 20px;
}

.password-conditions {
  text-align: left;
  background-color: #f6f1eb;
}

#DOB {
  width: 100%;
}

input {
  width: 100%;
  height: 40px;
  background-color: white;
  border: 2px solid #f8f5f0;
  border-radius: 5px;
  padding-left: 10px;
}

.conditions {
  margin-top: 2%;
}
