#mainBanner{
    color: white;
}
#mainBanner .text1{
    font-size: 18px;
    font-family: "Inter", sans-serif;
    letter-spacing: 5px;
}
#mainBanner .text2{
    font-size: 70px;
    font-family: 'Cormorant Garamond', serif;
}
#mainBannerImg{
    height: 800px;
    width: 100%;
    background-image: url(../image/philo_main_banner.webp);
    overflow: hidden;
    background-size: cover;
    background-position: cover;
    background-repeat: no-repeat;
}
#mainBanner .filter{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}
#mainBanner .overlay-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
#mainBannerImg img{
    opacity: 0.6;
    width: 100%;
}

#valueBanners .text1{
    font-size: 14px;
    font-family: "Inter", sans-serif;
    letter-spacing: 5px;
}
#valueBanners .text2{
    font-size: 50px;
    font-family: 'Cormorant Garamond', serif;
}
#valueBanners .text3{
    font-size: 14px;
}
#valueBanners .bannerImg{
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 350px;
}
#valueBanners .whiteBox{
    width: 100%;
    height: 350px;
}
#valueBanners .imageBanner{
    width: 100%;
    height: 350px;
    overflow: hidden;
    background-image: url(../../assets/products_main_banner.png);
    background-attachment: fixed;
    background-size: cover;
    background-position: cover;
    background-repeat: no-repeat;
}
#valueBanners .environment{
    background-image: url(../image/philo_environment.avif);
}
#valueBanners .crueltyfree{
    background-image: url(../image/philo_crueltyfree.webp);
}

.overlay-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.text-white{
    color: white;
}