.container {
  padding: 5rem 10rem;
}
h2 {
  padding-bottom: 2rem;
}
div {
  text-align: left;
}
li {
    font-size: 16px;
    padding: .2rem;
}

/*  */
/* --- mobile --- */
@media (min-width: 50px) and (max-width: 600px) {
  .container {
    padding: 1rem 2rem;
    width: 100%;
  }
}
