#container {
  border: 1px solid #000000;
  /* background-color: bisque; */
  text-align: center;
  /* min-width: 500px; */
  height: auto;
}

#container .product_image {
  width: 100%;
  height: auto;
}

#container .collection_name {
  color: lightgray;
  text-transform: uppercase;
  font-size: 1em;
}

#container .product_name {
  color: black;
  text-transform: uppercase;
  font-size: 1em;
}

#container .product_description {
  font-size: 0.8em;
}

#container .product_volume {
  font-size: 1em;
  text-transform: uppercase;
}
