/* 
.carousel-container {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.carousel-row {
  display: inline-block;
  animation: scrollLeft 30s linear infinite;
}

@keyframes scrollLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
} */
