#mainBanner .text1{
    font-size: 18px;
    font-family: "Inter", sans-serif;
    letter-spacing: 5px;
}
#mainBanner .text2{
    font-size: 70px;
    font-family: 'Cormorant Garamond', serif;
}
#mainBannerImg{
    height: 800px;
    width: 100%;
    background-color: black;
    overflow: hidden;
}
#mainBannerImg img{
    opacity: 0.6;
    width: 100%;
}