.container {
  padding: 5rem 20rem;
}
.flexbox {
  text-align: left;
  display: flex;
  justify-content: center;
}
#contactUs {
  flex: 1;
}
#contactForm {
  flex: 1;
}
form{
    padding: 1rem;
}
input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
input:focus {
  outline: none;
  border-color: #fbcc97;
  box-shadow: 0 0 5px #fbcc97;
}
.redStar{
    color: red;
}

/*  */
/* --- mobile --- */
@media (min-width: 50px) and (max-width: 600px) {
}
