#collectionsBanner .text1{
    font-size: 40px;
    font-weight: bold;
}
#collectionsBanner .overlay-text{
    width: 90%;
    text-align: start;
}
#collectionsBannerImg{
    height: 400px;
    width: 100%;
    background-color: black;
    overflow: hidden;
}
#collectionsBannerImg img{
    width: 100%;
}