.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.overlay-text p,
.overlay-text button {
  margin: 10px; /* Adjust the margin as needed */
}

.img-fluid-stretch {
  width: 100%; /* Image takes up the full width of the container */
  height: 400px; /* Image takes up the full height of the container */
  object-fit: cover;
}
