 :root {
     --primary: #227093;
     --secondary: #ff5252;
     --background: #eee;
     --highlight: #ffda79;
     /* Theme color */
     --theme: var(--primary);
 }

 */ *,
 *::before,
 *::after {
     box-sizing: border-box;
 }

 .accordionbody {
     display: grid;
     /* place-content: center; */
     grid-template-columns: repeat(auto-fit, min(100%, 30rem));
     /* min-height: 100vh; */
     width: fit-content;
     place-items: start;
     gap: 1rem;
     margin: 0;
     /* padding: 1rem; */
     color: var(--primary);
     background: var(--background);
 }

 /* Core styles/functionality */
 .tab input {
     position: absolute;
     opacity: 0;
     z-index: -1;
 }

 .tab__content {
     max-height: 0;
     overflow: hidden;
     transition: all 0.35s;
     font-family: 15px;
     background-color: white;
     height: fit-content;
 }

 .tab input:checked~.tab__content {
     max-height: 10rem;
 }

 .tab input:checked~.tab__content {
     max-height: 11 rem;
     /* Set your desired max height here */
 }

 /* Visual styles */
 .accordion {
     color: var(--theme);
     /* border: 2px solid; */
     /* border-radius: 0.5rem; */
     overflow: hidden;
     font-size: 12px;
     font-family: Montserrat;

 }

 .tab__label,
 .tab__close {
     display: flex;
     color: white;
     /* background: var(--theme); */
     background-color: #eee;
     cursor: pointer;
     font-size: 15px;
     padding-left: 2px;
     padding-right: 2px;

 }

 .tab__label {
     justify-content: space-between;
     padding-bottom: 0.8rem;
     font-family: 15px;

     white-space: pre-wrap;
 }

 .tab__label::after {
     content: "\276F";
     width: 1em;
     height: 1em;
     text-align: center;
     transform: rotate(90deg);
     transition: all 0.35s;
     font-family: 15px;
 }

 .tab .tab__label img {
     margin-top: 5px;
     margin-right: 10px;
 }

 .tab input:checked+.tab__label::after {
     transform: rotate(270deg);
 }

 .tab__content {
     height: fit-content;

 }

 .tab__content p {
     color: black;

     margin: 0;
     /* padding: 1rem; */
 }

 .tab__close {
     justify-content: flex-end;
     padding: 0.5rem 1rem;
     font-size: 0.75rem;
 }

 .accordion--radio {
     --theme: var(--secondary);
 }

 /* Arrow animation */
 .tab input:not(:checked)+.tab__label:hover::after {
     animation: bounce .5s infinite;
 }

 @keyframes bounce {
     25% {
         transform: rotate(90deg) translate(.25rem);
     }

     75% {
         transform: rotate(90deg) translate(-.25rem);
     }
 }

 .schedule {
     display: flex;
     flex-direction: row;
     margin-bottom: 10px;
     height: fit-content;
     font-size: 15px;
     background-color: white;
 }

 .schedule .schedule_date {
     padding-right: 30px;
     align-items: start;
     display: flex;
     flex-direction: column;
     justify-content: start;
 }

 .tab__label {
     padding-top: 10px;

     background-color: white;
     color: black;
     font-size: 12px;
     border: none;
     border-radius: none;



 }

 .tab__label {}

 .tab {
     border: none;
 }

 .accordion {
     border: none;
 }